[flake8]
max-line-length = 120
extend-ignore = E203,E501,W503,F401,F841,W293,W291,F541
exclude = .git,__pycache__,build,dist,.venv,.eggs,*.egg,templates
per-file-ignores = 
    __init__.py:F401
    tests/*:D,F401,F841
    examples/*:F401,F841